<ul class="certificate-info__list">
  <li class="certificate-info__item"><span class="certificate-info__label">Common Name: </span>{{commonName | truncate:[20]}}</li>
  <li class="certificate-info__item"><span class="certificate-info__label">Issuer CN: </span>{{issuerName | truncate:[26]}}</li>
  <li class="certificate-info__item"><span class="certificate-info__label">Valid From: </span>{{validFrom | date : 'YYYY-MM-dd'}}</li>
  <li class="certificate-info__item"><span class="certificate-info__label">Valid To: </span>{{validTo | date : 'YYYY-MM-dd'}}</li>
</ul>
